<section class="container">
    <section class="table" *ngIf="dataSource">
        <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
            <table mat-table [dataSource]="tableDataSource">
                <ng-container *ngFor="let col of colDefs; let i = index" [matColumnDef]="col.field">

                    <th mat-header-cell *matHeaderCellDef>{{col.label}}</th>
                    <td mat-cell *matCellDef="let row">
                        <ng-container [ngSwitch]="col.fieldType">
                            <ng-container *ngSwitchCase="'string'">
                                {{row.label}}
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                {{col.value(row)}}
                            </ng-container>
                        </ng-container>
                    </td>

                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </cdk-virtual-scroll-viewport>

    </section>
</section>